.App {
  text-align: right;
}


.App-header {
  background-color: #282c34;
  /*min-height: 100vh;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: right;
  justify-content: right;*/
  text-align: right;
  font-size: calc(10px + 2vmin);
  color: #F3FF33;
  padding: 15px;
  border-bottom: 5px solid grey;
}

/*.App-link {
  color: #61dafb;
}*/


nav {

}

.app-title-section {

}

.app-title-name {

}


.app-title-logo {

}



main {

}

.app-news-section {

}

/*
app-news-
*/


.app-newsfeed-icon {

}

.app-news-title {

}

.app-news-url {
  
}


footer {

}

.app-title-footer {

}

