@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Teko:wght@500&display=swap');


.App {
  text-align: right;
}


.main-header {
  
  text-align: right;
  color: #F3FF33;
  background-color: #282c34;
  /*padding: 10px;*/
  border-bottom: 10px solid grey;
  font-family: 'Audiowide', cursive;
  font-size: 20px;
}

/*.App-link {
  color: #61dafb;
}*/

ul,
li {
  text-decoration: none;
  font-family: 'Teko', sans-serif;
  font-size: 1.8rem;
  padding: 5px;
}

nav {

}

.app-title-section {

}

.app-title-name {

}


.app-title-logo {

}



body {
  background-color: #282c34;
  color: #F3FF33;
}

.app-news-section {

}

/*
app-news-
*/


.app-newsfeed-icon {

}

.app-news-title {

}

.app-news-url {
  
}


footer {

}

.app-title-footer {

}

