@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Teko:wght@500&display=swap');

.App {
  text-align: right;
}

h1 {
  text-align: right;
  font-size: 2.5rem;
  font-family: 'Audiowide', cursive;
  margin: 10px;
/*  background-color: #282c34;*/
}


.main-header {
  text-align: right;
  color: #F3FF33;
  background-color: #282c34;
  font-family: 'Audiowide', cursive;
  font-size: 1rem;
}

ul,
li {
  text-decoration: none;
  font-family: 'Teko', sans-serif;
  font-size: 1.5rem;
  padding: 2px 0px 0px 10px;
}

li{
  border-bottom: 0.8px dotted #F3FF33; 
/*  border-right: 2px solid #F3FF33; 
*/  
  margin: 7px 30px 0px 7px;
  list-style-type: none;
  margin-right: 20px;
}

nav {

}

.app-title-section {

}

.app-title-name {

}


.app-title-logo {

}

body {
  background-color: #404247;
  color: #F3FF33;
}

.app-news-section {

}

/*
app-news-
*/


.app-newsfeed-icon {

}

.app-news-title {

}

.app-news-url {
  
}


footer {

}

.app-title-footer {

}

